{
    "plugins": [
      ["module-resolver", {
        "root": ["./"],
        "alias": {
          "stylesheets": "./src/stylesheets",
          "actions": "./src/actions"
        }
      }]
    ]
  }